<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mental Health at Tech Companies</title>
  </head>
  <body>
    <style>
    body {background-image: url("https://images.pexels.com/photos/824243/pexels-photo-824243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position: center; } 
    </style>
    
    {% include 'navbar2.html' %}

    
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


{% block body %}
    <img src="https://i.ibb.co/Lhj8KHg/MENTAL-HEALTH-TEST-6.png" class="rounded mx-auto d-block" alt="Sun" height="460" weight="100" ></img>
    <h4> </h4>
    <h4> </h4>
    <h4> </h4>
    <h4> </h4>
    <h4> </h4>
    <h4> </h4>
    <div class="container">
            <div class='row justify-content-left'>
                <div class="col-md-3">
                    <form action="/login" method="GET">
                    <button type="submit" class="btn btn-dark mt-4 md-offset-1" >Explore the ML Algorithm</button>
                </div>
            </div>
    </div>
    
                    <!-- <div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button class="btn btn-light " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Behind the algorithm
            </button>
        </h2>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
                Behind this quiz is a real survey taken from approximately 1000 real respondents that were currently working in Tech Companies, mostly in US , but the survey cover another countries like Canada even some countries from other continents. These yearly survey regarding Mental Health in Tech Companies were held by OSMI. The data gathering took more than 2 years.
                The survey data belongs to OSMI. OSMI ( Open Sourcing Mental Illness)  is a non-profit, corporation dedicated to raising awareness, educating, and providing resources to support mental wellness in the tech and open source communities.
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
            <button class="btn btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Why you probably should take this quiz
            </button>
        </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
                OSMI began in 2013, with Ed Finkler speaking at tech conferences about his personal experiences as a web developer and open source advocate with a mental health disorder.  The response was overwhelming, and thus OSMI was born. OSMI board members and volunteers bring their time and expertise to bear on this important issue by organizing efforts to change experiences of those with mental health disorders in the tech workplace.
                I hope from this predictor quiz we can gain more awareness on mental health, both personally or as an organization. I will share some of my findings in the output page of your test, so go on and give it a try!
        </div>
        </div>
    </div>
    </div> -->
   

{% endblock body %}
